<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHenriquez - <%= title %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- Instalación manual (solución inperfecta ya que implica más trabajo, usar npm) -->
    <link rel="stylesheet" href="/vendor/bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.4.2-web/css/all.min.css">
</head>
<body>
    <%- include('navbar.ejs') -%>