<%- include('./../template/header.ejs', { title: 'Mascotas - create' }) -%>

<div class="container">
    <h1>Crear nueva mascota</h1>

    <form action="/mascotas" method="post">
        <div class="mb-2">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
        </div>

        <div class="mb-2">
            <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required>
        </div>

        <div class="d-grid gap-2 d-xl-block mb-2">
            <button class="btn btn-primary" type="submit" role="button">Agregar</button>
        </div>
    </form>
</div>

<%- include('./../template/footer.ejs') -%>
