<%- include('./../template/header.ejs', { title: 'Mascotas - Delete' }) -%>

<div class="container">
    <% if (error) { %>
        <h1>Error: <%= message %></h1>
    <% } %>

    <div class="d-grid gap-2 d-md-block my-4">
        <a class="btn btn-dark" href="/mascotas/<%= mascota._id %>" role="button">
            <i class="fa-solid fa-arrow-left"></i> Volver
        </a>
    </div>
</div>

<%- include('./../template/footer.ejs') -%>