<!-- Agregar la ruta relativa a los includes correspondientes -->
<%- include('./../template/header.ejs', { title: 'Mascotas' }) -%>
    <div class="container">
        Mascotas
    </div>
<%- include('./../template/footer.ejs') -%>
